---
---

<section class="bg-black dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
   
      <p class="text-xl mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra

    <h2 class="text-2xl font-medium mb-6">Anti Wrinkle Injections, Dermal Fillers & Laser Treatments.</h2>
  </div>
  
</section>
